SUPABASE_URL=https://fsnrgxdetsxrlsvcupll.supabase.co
SUPABASE_ANON_KEY=sb_publishable_L4Qdznd-VrA-39iWngg8SA_1EnDN5dz
NEXT_PUBLIC_SUPABASE_URL=https://fsnrgxdetsxrlsvcupll.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_L4Qdznd-VrA-39iWngg8SA_1EnDN5dz
SUPABASE_DASHBOARD_ENDPOINT=https://fsnrgxdetsxrlsvcupll.supabase.co/rest/v1/aerosar_dashboard
SUPABASE_REPORTS_ENDPOINT=https://fsnrgxdetsxrlsvcupll.supabase.co/rest/v1/sos_rescue_reports
SUPABASE_ACTIONS_ENDPOINT=https://fsnrgxdetsxrlsvcupll.supabase.co/rest/v1/mission_actions
PORT=8000


